.contribute-menu {
  &__wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 1.25rem $container_margin-right 0 $container_margin-left;
  }

  &__title {
    margin-right: 1rem;
  }

  &__options-wrapper {
    display: flex;
    flex-direction: row;
  }
}