.data-view {
  &__wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  &__title {
    margin-right: 2.75rem;
  }

  &__toggle {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  &__switch {
    display: inline-block;
    height: 2rem;
    position: relative;
    border: 1px solid $color_default-gray;
    border-radius: .5rem;
    width: 12.5rem;
  }

  &__input {
    height: 0;
    opacity: 0;
    width: 0;

    &:checked + .data-view__circle::before {
      -ms-transform: translateX(100px);
      -webkit-transform: translateX(100px);
      transform: translateX(100px);
    }
  }

  &__circle {
    -webkit-transition: .4s;
    border-radius: 0.5rem;
    bottom: 0;
    cursor: pointer;
    height: 2rem;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
    width: 200px;

    &:before {
      -webkit-transition: .4s;
      background-color: $color_bg-green;
      border-radius: .5rem;
      box-shadow: $color_light-gray 2px 3px 8px;
      content: '';
      height: 2rem;
      position: absolute;
      transition: .4s;
      width: 100px;
    }
  }

  &__options-wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 2rem;
    justify-content: space-around;
    position: absolute;
    top: 0;
    width: 200px;
  }

  &__option {
    color: $color_default-gray;
    font-family: 'Calibre';
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    position: relative;
    top: 2px;

    &--active {
      color: $color_font-white;
    }
  }
}
