.filters-panel {
  border-color: $color_bg-green;
  border-radius: 5px;
  border-style: solid;
  border-width: 6px 1px 1px;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  margin-right: 1.25rem;
  width: 27rem;

  &__header {
    color: $color_font-black;
    font-family: 'Calibre';
    font-style: normal;
    font-size: 1.5rem;
    font-weight: 600;
    margin: .5rem 0 0 1rem;
  }

  &__body {
    border-top: 1px solid $color_default-gray;
    display: flex;
    height: 100%;
  }

  &__categories {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 12.5rem;
  }

  &__item {
    align-items: center;
    border-bottom: 1px solid $color_default-gray;
    display: flex;
    flex-direction: row;

    &--active {
      border-left: 4px solid $color_bg-green;
      color: $color_bg-green;

      &:focus {
        border: 2px solid $color_accent-green;
        border-left: 4px solid $color_bg-green;
        box-shadow: 0 0 5px $color_accent-green;
      }
    }
  }

  &__category {
    cursor: pointer;
    padding: .5rem .5rem .5rem 2rem;

    &--filtered {
      padding-left: 0;
    }

    &:focus {
      border: 2px solid $color_accent-green;
      box-shadow: 0 0 5px $color_accent-green;
    }

    &:last-child {
      border-bottom-width: 0;
    }
  }
}

.filters {
  border-left: 1px solid $color_default-gray;
  flex: 1;

  &__views {
    border-bottom: 1px solid $color_default-gray;
    background-color: $color_bg-beige;
    display: flex;
    flex-direction: row;
  }

  &__view {
    background: 0 0;
    border: 1px solid $color_light-gray;
    border-bottom: none;
    font-size: 1rem;
    outline: 0;
    padding: .5rem;
    position: relative;
    width: 50%;

    &:focus {
      border: 2px solid $color_accent-green;
      box-shadow: 0 0 5px $color_accent-green;
    }

    &--active {
      border-bottom: 5px solid $color_bg-green;
      padding-bottom: calc(.5rem - 5px);
    }
  }

  &__text {
    display: block;
    color: #707070;
    font-family: 'Calibre';
    font-size: 0.875rem;
    font-weight: normal;
    padding: .5rem;
  }

  &__search {
    background: 0 0;
    border: 0;
    border-bottom: 1px solid $color_default-gray;
    color: $color_default-gray;
    font-family: 'Calibre';
    font-size: 0.75rem;
    font-weight: normal;
    height: 1.5rem;
    outline: 0;
    padding: 4px 10px;
    width: calc(100% - 20px);
  }

  &__list {
    height: 28rem;
    list-style: none;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: .5rem;
  }

  &__option {
    color: $color_default-gray;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Calibre';
    font-size: 0.875rem;
    font-weight: normal;
    padding-bottom: 0.25rem;
    
    &:focus {
      border: 2px solid $color_accent-green;
      box-shadow: 0 0 5px $color_accent-green;
    }
  }

  &__active-icon {
    max-height: .5rem;
    max-width: .5rem;

    &--category {
      margin: 0 .5rem;
    }

    &--option {
      margin-right: .25rem;
    }
  }

  &__button {
    background: 0 0;
    border: none;
    font-size: 18px;
    outline: 0;
    position: relative;

    &--active {
      transform: rotate(45deg);
    }
  }

  &__input {
    width: 30px;
  }
}
