.hoverable-image {
  &__marquee {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 3.75rem;
  }

  &__wrapper {
    // border: 2px solid $color_bg-green;
    position: relative;
    height: 18.75rem;
    width: 36.25rem;

    &:hover {
      background: $color_bg-green;

      .hoverable-image__image {
        opacity: 0.15;
      }

      .hoverable-image__overlay {
        display: flex;
      }
    }
  }

  &__overlay {
    align-items: flex-start;
    bottom: 1.875rem;
    display: none;
    flex-direction: column;
    justify-content: center;
    left: 0;
    margin: 1rem;
    position: absolute;
  }

  &__image {
    height: inherit;
    width: inherit;
  }

  &__title {
    color: $color_font-white;
    font-family: 'Calibre';
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    margin: 1rem 0 0 0;
  }

  &__triangle {
    // height: 1.5rem;
    // margin-bottom: 1rem;
  }

  &__caption {
    font-style: italic;
    margin-bottom: 0;
    text-align: center;
  }
}