.report-section {
  margin: 0 auto;
  max-width: $container_width;

  &__link {
    color: $color_default-gray;
    &:hover {
      color: $color_bg-green;
    }
  }

  &__subtitle {
    margin: 4.375rem 0 0;
  }

  &__underline {
    border: none;
    border-top: 5px solid $color_bg-green;
    margin: 0 0 1.875rem 0;
    width: 43.75rem;
  }

  &__no-image {
    padding-left: 8.125rem;
    width: 47.5rem;
  }

  &__left-image {
    display: flex;
    flex-direction: row;
    margin-top: 2.75rem;
  }

  &__image-wrapper {
    display: flex;
    flex-direction: column;

    &--left {
      margin-right: 4rem;
    }
  }

  &__image {
    width: 400px;
  }

  &__image-credit {
    font-size: .875rem;
    font-style: italic;
    text-align: center;
    margin-top: .625rem;
  }
}
