.report-about {
  background-color: $color_bg-green;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10.25rem 0 5.25rem 0;
  margin: 0 auto;
  max-width: $container_width;

  &__line {
    border: none;
    border-top: 5px solid $color_accent-green;
    margin: 0;
    margin-right: 1.75rem;
    width: 17.1875rem;
  }

  &__content {
    width: 51.5rem;
  }

  &__title {
    color: $color_accent-green;
    font-family: 'Calibre', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 0 1rem 0;
  }

  &__paragraph {
    color: white;
    margin: 0;
  }
}
