.report-section {
  margin: 0 auto;
  max-width: $container_width;

  &__link {
    color: $color_default-gray;
    &:hover {
      color: $color_bg-green;
    }
  }

  &__title {
    margin: 4.375rem 0 0;
  }

  &__underline {
    border: none;
    border-top: 5px solid $color_bg-green;
    margin: 0 0 1.875rem 0;
    width: 43.75rem;
  }

  &__subtitle {
    color: $color_default-gray;
    font-family: 'Calibre', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1.875rem 0 0;
  }

  &__content {
    width: 47.5rem;
  }

  &__no-image {
    padding-left: 8.125rem;
    width: 47.5rem;
  }

  &__left-image {
    display: flex;
    flex-direction: row;
    margin-top: 2.75rem;
  }

  &__right-image {
    margin-top: 2.75rem;
    padding-left: 8.125rem;
  }

  &__right-image-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__right-image-text {
    width: 47.5rem;
  }

  &__right-callout {
    margin-top: 2.75rem;
    padding-left: 8.125rem;

    &-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &-text {
      width: 47.5rem;
    }

    &--no-margin {
      margin-top: 1rem;
    }
  }

  &__image-wrapper {
    display: flex;
    flex-direction: column;

    &--left {
      margin-right: 4rem;
    }
  }

  &__image {
    width: 400px;
  }

  &__image-credit {
    font-size: .875rem;
    font-style: italic;
    text-align: center;
    margin-top: .625rem;
  }

  &__banner {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    margin-top: 2.75rem;
  }

  &__banner-text {
    background-color: $color_bg-beige;
    padding: 2.5rem 7rem;
  }

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}
