.tabular-data {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.table {
  border: 1px solid $color_default-gray;
  border-collapse: collapse;

  &__wrapper {
    overflow-x: scroll;
    margin-right: $container_margin-right;
    &:focus {
      border: 2px solid $color_accent-green;
      box-shadow: 0 0 5px $color_accent-green;
    }
  }

  &__header {
    border: 1px solid $color_default-gray;
    color: $color_font-black;
    font-family: 'SwiftNeueLTPro';
    font-size: 1rem;
    font-weight: normal;
    height: 2.75rem;
    // padding: .5rem 1rem;
    // width: 8.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &--edit {
      min-width: unset;
    }

    &:focus {
      border: 2px solid $color_accent-green;
      box-shadow: 0 0 5px $color_accent-green;
    }
  }
}

.row {
  line-height: 1.5rem;

  &:nth-child(odd) {
    background: $color_bg-beige;
  }
}

.cell {
  border: 1px solid $color_default-gray;
  color: $color_font-black;
  font-family: 'Calibre';
  font-weight: 600;
  font-size: 1rem;
  padding: 1rem 2rem;
}

.pagination {
  &__wrapper {
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
  }

  &__text {
    color: $color_font-black;
    font-family: 'Calibre', sans-serif;
    margin: 0 1rem;
  }
}
