.button {
  background-color: $color_button-gray;
  border: none;
  border-radius: 10px;
  color: $color_default-gray;
  font-family: 'Calibre';
  font-weight: 600;
  font-style: normal;
  font-size: 1rem;
  height: 2rem;
  margin-left: .625rem;
  width: 4.375rem;

  &:hover {
    -webkit-transition: .2s;
    background-color: $color_bg-green;
    box-shadow: $color_light-gray 2px 3px 8px;
    color: $color_font-white;
    transition: .2s;
  }

  &--icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &--pagination {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 1.5rem;
    justify-content: center;
    margin: 0 .25rem;
    width: 2.5rem;

    &:disabled:hover {
      background-color: $color_button-gray;
      box-shadow: none;
      color: $color_default-gray;
    }
  }

  &--link {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
