.footer {
  align-items: center;
  color: $color_font-white;
  display: flex;
  flex-direction: row;
  height: 5.625rem;
  font-family: 'Calibre';
  font-size: 1rem;
  justify-content: space-between;
  margin: 0 auto;
  max-width: $container_width;
  padding: 0 $container_margin-right 0 $container_margin-left;

  &__wrapper {
    background-color: $color_bg-green;
    flex-shrink: 0;
    width: 100%;
  }

  &__logo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__logo {
    padding-right: 1.875rem;
  }

  &__navigation {
    font-size: 1.5rem;
  }

  &__link {
    color: $color_font-white;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
  }
}
