.navigation {
  &__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
  }

  &__item {
    font-size: 1.25rem;
    font-weight: 600;
    font-style: normal;
    padding: 0 1.875rem;
    text-transform: uppercase;
  }

  &__link {
    color: $color_accent-green;
    letter-spacing: .125rem;
    text-decoration: none;

    &--active {
      border-bottom: .3rem solid $color_font-white;
      color: $color_font-white;
    }
  }
}
