.main {
  &__wrapper {
    background-color: white;
    flex: 1 0 auto;
    margin: 1.875rem auto;
    max-width: $container_width;
    width: 100%;

    &--narrow {
      margin: 0 7rem 0 5.25rem;
    }
  }
}
