.modal {
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;

    &--dark {
      background-color: rgba(0, 0, 0, 0.75);
    }

    &--light {
      background-color: rgba(255, 255, 255, 0.75);

    }
  }

  &__content-wrapper {
    border: 1px solid #ccc;
    box-shadow: #000 3px 3px 6px;
    background: #fff;
    overflow: auto;
    border-radius: 4px;
    margin: 2.5rem auto;
    outline: none;
  }
}
