.modal {
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1100;

    &--dark {
      background-color: rgba(0, 0, 0, 0.75);
    }

    &--light {
      background-color:rgba(9,31,47,.2);

    }
  }

  &__content-wrapper {
    border: 1px solid #ccc;
    box-shadow: #000 3px 3px 6px;
    background: #fff;
    overflow: auto;
    border-radius: 4px;
    outline: none;
  }
}
