html {
  color: $color_default-gray;
  font-size: 16px;
  font-family: 'SwiftNeueLTPro';
  font-style: normal;
  font-weight: normal;
}

body {
  margin: 0;
}

h2 {
  color: $color_bg-green;
  font-family: 'SwiftNeueLTPro';
  font-size: 1.7rem;
  font-style: normal;
  font-weight: normal;
  margin: 0 0 1.875rem 0;

  &:not(:first-child) {
    margin-top: 3.75rem;
  }
}
