$color_bg-green: #00613F;
$color_accent-green: #98D09A;
$color_font-white: #FFFFFF;
$color_font-black: #000000;
$color_default-gray: #707070;
$color_button-gray: #E5E5E5;
$color_light-gray: #D8D8D8;
$color_bg-beige: #F0EFE7;

$container_width: 85.375rem;
$container_margin-left: 1.25rem;
$container_margin-right: 1.875rem;
