.button {
  background-color: $color_button-gray;
  border: none;
  border-radius: 10px;
  color: $color_default-gray;
  font-family: 'Calibre';
  font-weight: 600;
  font-style: normal;
  font-size: 1rem;
  height: 2rem;
  width: 4.375rem;
  margin-left: .625rem;
}
