.export-menu {
  &__wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  &__title {
    margin-right: 1rem;
  }

  &__options-wrapper {
    display: flex;
    flex-direction: row;
  }
}