.filters-panel {
  border-color: #006E47;
  border-radius: 5px;
  border-style: solid;
  border-width: 6px 1px 1px;
  height: 600px;
  width: 450px;

  &__header {
    font-size: 1.5rem;
    margin: 0;
    padding: 1rem 1.5rem;
  }

  &__body {
    border-top: 1px solid #CCC;
    display: flex;
  }

  &__categories {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__category {
    border: 0 solid #CCC;
    border-width: 0 1px 1px 0;
    cursor: pointer;
    padding: .5rem .5rem .5rem 2rem;

    &:last-child {
      border-bottom-width: 0;
    }

    &--active {
      border-left: 2px solid #006E47;
      padding-left: calc(2rem - 2px);
    }

    &--filtered:before {
      background: #006E47;
      border-radius: 50%;
      content: '';
      display: block;
      height: 8px;
      left: 8px;
      position: absolute;
      transform: translateY(4px);
      width: 8px;
    }
  }
}

.filters {
  flex: 1;
  min-width: 66.66%;

  &__views {
    padding: .5rem;
  }

  &__view {
    background: 0 0;
    border: none;
    font-size: 1rem;
    outline: 0;
    position: relative;
    width: 50%;

    &:first-child {
      border-right: 1px solid #CCC;
    }
  }

  &__search {
    background: 0 0;
    border: 0;
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #CCC;
    font-size: 12px;
    height: 1.5rem;
    outline: 0;
    padding: 4px 10px;
    width: 100%;
  }

  &__list {
    height: 400px;
    list-style: none;
    margin: 0;
    overflow-y: scroll;
    padding: .5rem;
  }

  &__option {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px 0;

    &--active {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__value--active {
    display: flex;
    left: 8px;
    position: relative;
    &:before {
      background: #006E47;
      border-radius: 50%;
      content: '';
      display: block;
      height: 8px;
      left: -8px;
      position: relative;
      top: 4px;
      width: 8px;
    }
  }

  &__button {
    background: 0 0;
    border: none;
    font-size: 18px;
    outline: 0;
    position: relative;

    &--active {
      transform: rotate(45deg);
    }
  }
}
