.filters-panel {
  border-color: $color_bg-green;
  border-radius: 5px;
  border-style: solid;
  border-width: 6px 1px 1px;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  margin-right: 1.25rem;
  width: 27rem;

  &__header {
    font-family: 'Calibre';
    font-style: normal;
    font-size: 1.5rem;
    font-weight: 600;
    margin: .5rem 0 0 1rem;
  }

  &__body {
    border-top: 1px solid $color_default-gray;
    display: flex;
    height: 100%;
  }

  &__categories {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 12.5rem;
  }

  &__item {
    border-bottom: 1px solid $color_default-gray;
  }

  &__category {
    color: $color_default-gray;
    cursor: pointer;
    font-family: 'SwiftNeueLTPro', serif;
    font-style: normal;
    font-weight: normal;
    padding: .5rem .5rem .5rem 2rem;

    &:focus {
      border: 2px solid $color_accent-green;
      box-shadow: 0 0 5px $color_accent-green;
    }

    &:last-child {
      border-bottom-width: 0;
    }

    &--active {
      border-left: 4px solid $color_bg-green;
      color: $color_bg-green;
      padding-left: calc(2rem - 4px);

      &:focus {
        border: 2px solid $color_accent-green;
        border-left: 4px solid $color_bg-green;
        box-shadow: 0 0 5px $color_accent-green;
      }
    }

    &--filtered:before {
      background: $color_bg-green;
      border-radius: 50%;
      content: '';
      display: block;
      height: .5rem;
      left: 2rem;
      position: absolute;
      transform: translateY(.25rem);
      width: .5rem;
    }
  }
}

.filters {
  border-left: 1px solid $color_default-gray;
  flex: 1;

  &__views {
    border-bottom: 1px solid $color_default-gray;
    background-color: $color_bg-beige;
    padding: .5rem;
  }

  &__view {
    background: 0 0;
    border: none;
    font-size: 1rem;
    outline: 0;
    position: relative;
    width: 50%;

    &:first-child {
      border-right: 1px solid $color_default-gray;
    }

    &:focus {
      border: 2px solid $color_accent-green;
      box-shadow: 0 0 5px $color_accent-green;
    }
  }

  &__text {
    display: block;
    padding: .5rem;
  }

  &__search {
    background: 0 0;
    border: 0;
    border-bottom: 1px solid $color_default-gray;
    color: $color_default-gray;
    font-family: 'Calibre';
    font-size: 0.75rem;
    font-weight: normal;
    height: 1.5rem;
    outline: 0;
    padding: 4px 10px;
    width: calc(100% - 20px);
  }

  &__list {
    height: 28rem;
    list-style: none;
    margin: 0;
    overflow-y: scroll;
    padding: .5rem;
  }

  &__option {
    align-items: flex-start;
    color: $color_default-gray;
    cursor: pointer;
    display: flex;
    font-family: 'Calibre';
    font-size: 0.875rem;
    font-weight: normal;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0.25rem;
    
    &:focus {
      border: 2px solid $color_accent-green;
      box-shadow: 0 0 5px $color_accent-green;
    }

    &--active {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__value--active {
    display: flex;
    left: 8px;
    position: relative;
    &:before {
      background: $color_bg-green;
      border-radius: 50%;
      content: '';
      display: block;
      height: 8px;
      left: -8px;
      position: relative;
      top: 4px;
      width: 8px;
    }
  }

  &__button {
    background: 0 0;
    border: none;
    font-size: 18px;
    outline: 0;
    position: relative;

    &--active {
      transform: rotate(45deg);
    }
  }

  &__input {
    width: 30px;
  }
}
