.header {
  background-color: $color_bg-green;
  display: flex;
  flex-direction: row;
  font-family: 'Calibre';
  justify-content: space-between;
  padding: 2.5rem 0 1rem 1.25rem;

  &__logo-wrapper {
    border: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    text-decoration: none;
  }

  &__logo {
    align-self: flex-start;
  }

  &__title {
    color: $color_font-white;
    font-size: 2.75rem;
    margin: 0;
    padding-left: 1.25rem;
    font-weight: 600;
    font-style: normal;
    line-height: 3.875rem;
  }
}

.navigation {
  &__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
  }

  &__item {
    font-size: 1.25rem;
    font-weight: 600;
    font-style: normal;
    padding: 0 1.875rem;
    text-transform: uppercase;
  }

  &__link {
    color: $color_accent-green;
    letter-spacing: .125rem;
    text-decoration: none;

    &--active {
      border-bottom: .3rem solid $color_font-white;
      color: $color_font-white;
    }
  }
}

.footer {
  align-items: center;
  background-color: $color_bg-green;
  color: $color_font-white;
  display: flex;
  flex-direction: row;
  height: 5.625rem;
  font-family: 'Calibre';
  font-size: 1rem;
  justify-content: space-between;
  padding: 0 1.25rem;

  &__logo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__logo {
    padding-right: 1.875rem;
  }

  &__navigation {
    font-size: 1.5rem;
  }

  &__link {
    color: $color_font-white;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
  }
}