.tabular-data {
  overflow-x: scroll;
  width: 400px;
  &__wrapper {
    display: flex;
  }
}

.filters {
  &__list {
    height: 65vh;
    list-style: none;
    margin: 0;
    max-height: calc(100vh - 200px);
    overflow-y: scroll;
    padding: 0;
    width: 250px;
  }

  &__option {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &--active {
      width: 100%;
      padding: 3px 40px 3px 14px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  &__value {
    &--active::before {
      background: #2e6c85;
      border-radius: 50%;
      content: '';
      display: block;
      height: 8px;
      width: 8px;
    }
  }

  &__button {
    background: 0 0;
    border: none;
    font-size: 18px;
    outline: 0;

    &--active {
      transform: rotate(45deg);
    }
  }
}
