.tabular-data {
  &__wrapper {
    display: flex;
  }
}

.filters {
  border-color: #2e6c85;
  max-height: calc(100vh - 200px);
  width: 450px;

  &__wrapper {
    display: flex;
  }

  &__panel {
    max-height: calc(100vh - 200px);
    overflow-y: scroll;
  }
}
