.tabular-data {
  width: calc(100% - 500px);
  &__wrapper {
    display: flex;
  }
}

.row {
  line-height: 1.5rem;
}

.cell {
  &__item {
    background: #AFE2BD;
    border-radius: 5px;
    display: inline-block;
    margin: .25rem;
    padding: .25rem;
  }
}
